<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <a class="navbar-brand" href="#">Ricky and Morty</a>
    <a routerLink="./home" class="text-white" href="#">Home</a>
    <a routerLink="./principal/" class="text-white" href="#">Characters</a>
    <a routerLink="./about/" class="text-white" href="#">About</a>
    <a class="text-white" href="#"><input type="text" class="form-control " aria-label="Text input with radio button" placeholder="Search"></a>
    <button type="button" class="btn btn-outline-success">Search</button>
  </div>
</nav>
<div>
  <router-outlet></router-outlet>
</div>
